<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">${sys:user.home}/logs/elevator-system/</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
        <property name="RUN_LOG_FILE_NAME">run</property>
        <property name="ELAPSE_LOG_FILE_NAME">elapse</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="ElapseLog"
                                 fileName="${LOG_HOME}/${ELAPSE_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ELAPSE_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="RunLog"
                                 fileName="${LOG_HOME}/${RUN_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${RUN_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ErrorLog"
                                 fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <PatternLayout
                    pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <logger name="biz.jared.App" level="info">
            <appender-ref ref="ElapseLog"/>
            <appender-ref ref="Console"/>
        </logger>
        <logger name="biz.jared.Env" level="info">
            <appender-ref ref="ElapseLog"/>
            <appender-ref ref="Console"/>
        </logger>
        <logger name="biz.jared" level="debug" includeLocation="true" additivity="false">
            <appender-ref ref="RunLog"/>
        </logger>
        <root level="info" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>